.root {
    -fx-background-image: url("../machine.jpg");
    -fx-background-position: center center;
    -fx-opacity: 0.9;
}

.button {
    -fx-background-radius: 0, 0, 0, 0;
    -fx-background-color: #363636;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
}

.button:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #363636;
}