.root {
    -fx-background-image: url("../machine.jpg");
    -fx-background-size: 800 800;
    -fx-background-position: center center;
    -fx-opacity: 0.9;
}

.button {
    -fx-background-radius: 0, 0, 0, 0;
    -fx-background-color: #ffffff;
}

.button:hover {
    -fx-border-color: #ffffff;
    -fx-background-color: #363636;
    -fx-pref-height: 30;
    -fx-text-fill: #ffffff;
}

.label {
    -fx-text-fill: #ffffff;
}

.text-field {
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-width: 0;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;

}